@page "/server/{id:int?}"
@inject NavigationManager NavigationManager
@inject IServersEfCoreRepository ServersEfCoreRepository
@inject IJSRuntime JSRuntime
@using System.Text.Json
@using Microsoft.AspNetCore.Components.Forms

<NavigationLock 
  OnBeforeInternalNavigation="OnBeforeInternalNavigation"
  ConfirmExternalNavigation="true" />

@if (@Id.HasValue)
{
  <h3>Edit Server</h3>
}
else
{
  <h3>Add Server</h3>
}
<br/>
<br/>

@if (server is not null)
{
  <EditForm EditContext="@editContext" FormName="formServer" OnValidSubmit="Submit">
    <DataAnnotationsValidator></DataAnnotationsValidator>
    <ValidationSummary></ValidationSummary>

    @if (server.ServerId > 0)
    {
      <InputNumber @bind-Value="server.ServerId" hidden />
    }

    <FieldComponent Label="Name">
      <Control>
        <InputText @bind-Value="server.Name" class="form-control" />
      </Control>
      <ValidationControl>
        <ValidationMessage For="() => server.Name" />
      </ValidationControl>
    </FieldComponent>

    <FieldComponent Label="City">
      <Control>
        <InputText @bind-Value="server.City" class="form-control" />
      </Control>
      <ValidationControl>
        <ValidationMessage For="() => server.City" />
      </ValidationControl>
    </FieldComponent>

    <FieldComponent Label="Online2">
      <Control>
        <InputCheckbox @bind-Value="server.IsOnline" class="form-check-input" />
      </Control>
    </FieldComponent>

    <br/>
    @if (server.ServerId > 0)
    {
      <button class="btn btn-primary" type="submit">Update</button>
    }
    else
    {
      <button class="btn btn-primary" type="submit">Save</button>
    }
    &nbsp;
    <a href="/servers" class="btn btn-primary">Close</a>
  </EditForm>
}

@code {
  [Parameter]
  public int? Id { get; set; }

  [SupplyParameterFromQuery]
  public string? City { get; set; }

  private Server? server { get; set; }

  private EditContext? editContext;
  private bool hasUnsavedChanges = false;

  protected override void OnParametersSet()
  {
    if (this.Id.HasValue)
      server ??= ServersEfCoreRepository.GetServerById(this.Id.Value);
    else
      server ??= new Server() { IsOnline = false };

    if (server is not null && !string.IsNullOrEmpty(this.City))
    {
      server.City = this.City;
    }

    if (server is not null)
    {
      if (editContext == null || editContext.Model != server)
      {
        if (editContext != null)
        {
          editContext.OnFieldChanged -= HandleFieldChanged;
        }
        editContext = new EditContext(server);
        editContext.OnFieldChanged += HandleFieldChanged;
        hasUnsavedChanges = false;
      }
    }
  }

  private void HandleFieldChanged(object? sender, FieldChangedEventArgs e)
  {
    hasUnsavedChanges = true;
  }

  private async Task OnBeforeInternalNavigation(LocationChangingContext context)
  {
    if (!hasUnsavedChanges)
      return;

    var confirmed = await JSRuntime.InvokeAsync<bool>("confirm", "There are unsaved changes. Do you really want to leave?");
    if (!confirmed)
      context.PreventNavigation();
  }

  private void Submit()
  {
    var input = JsonSerializer.Serialize(server);
    System.Console.WriteLine(input);

    if (server is not null)
    {
      if (this.Id.HasValue)
        ServersEfCoreRepository.UpdateServer(server.ServerId, server);
      else
        ServersEfCoreRepository.AddServer(server);

      hasUnsavedChanges = false;
    }
    NavigationManager.NavigateTo($"/servers/back_from/{this.server?.City}");
  }

  public void Dispose()
  {
    if (editContext != null)
    {
      editContext.OnFieldChanged -= HandleFieldChanged;
    }
  }
}