@page "/servers"
@page "/servers/back_from/{cityName}"

@inject NavigationManager NavigationManager

@rendermode InteractiveServer

<h3>Servers</h3>
<br/>
<br/>

<CityListComponent @ref="cityListComponent" SelectCityCallBack="HandleCitySelection" selectedCity="@selectedCity" />
<br/>

<SearchBarComponent 
    @ref="searchBarComponent"
    SearchServerCallback="HandleSearchServer"
    style="width: 500px" />
<br />

<CascadingValue Name="SelectedCity" Value="@selectedCity">
  <ServerListComponent CityName="@selectedCity" SearchFilter="@this.searchFilter" />
</CascadingValue>

<p>
  <a href="/server" class="btn btn-primary">Add Server</a>
</p>

@code {
  [Parameter]
  public string? CityName { get; set; }

  private string selectedCity = "Toronto";
  private string searchFilter = "";
  private CityListComponent? cityListComponent;
  private SearchBarComponent? searchBarComponent;

  private void HandleSearch()
  {
    @* this.servers = ServersRepository.SearchServers(this.serverFilter); *@
    @* this.selectedCity = string.Empty; *@
  }

  private void HandleCitySelection(string city)
  {
    this.selectedCity = city;
    this.searchFilter = string.Empty;
    searchBarComponent?.ClearFilter();
  }

  private void HandleSearchServer(string searchFilter)
  {
    @* this.servers = ServersRepository.SearchServers(searchFilter); *@
    this.searchFilter = searchFilter;
    this.cityListComponent?.ClearSelection();
  }

  protected override void OnAfterRender(bool firstRender)
  {
    @* if (firstRender)
    {
      if (NavigationManager.Uri.Contains("back_from")
        && !string.IsNullOrWhiteSpace(CityName))
      {
        selectedCity = CityName;
        StateHasChanged();
      }
    } *@
  }

  protected override void OnParametersSet()
  {
      if (NavigationManager.Uri.Contains("back_from")
        && !string.IsNullOrWhiteSpace(CityName))
      {
        selectedCity = CityName;
        @* StateHasChanged(); *@
      }
  }
}