@inject IServerSuggestionRepository ServerSuggestionRepository

<div class="input-group mb-3 input-width" @attributes=OtherAttributes>
  <input type="text"
       class="form-control"
       placeholder="Search Servers"
       value="@serverFilter"
       @oninput="OnInputAsync"
       @onkeydown="OnKeyDown"
       disabled="@isLoading" />
  <button class="btn btn-outline-secondary" type="button" id="button-search" @onclick="HandleSearch" disabled="@isLoading">
    @if (isLoading)
    {
      <span class="spinner-border spinner-border-sm me-2" role="status" aria-hidden="true"></span>
    }
    Search
  </button>
  @if (showSuggestions && !isLoading)
  {
      <ul class="autocomplete-list">
          @foreach (var item in suggestions)
          {
              <li @onclick="() => SelectSuggestion(item)" style="cursor:pointer">@item</li>
          }
      </ul>
  }
</div>

@code {
  [Parameter]
  public EventCallback<string> SearchServerCallback { get; set; }

  [Parameter(CaptureUnmatchedValues = true)]
  public Dictionary<string, object>? OtherAttributes { get; set; }
  
  public void ClearFilter()
  {
    this.serverFilter = string.Empty;
    showSuggestions = false;
  }

  public void SetFilter(string filter)
  {
    this.serverFilter = filter;
  }

  private string serverFilter = "";
  private List<string> suggestions = new();
  private bool showSuggestions = false;
  private bool isLoading = false;

  private async Task OnInputAsync(ChangeEventArgs e)
  {
      serverFilter = e.Value?.ToString() ?? "";
      if (!string.IsNullOrWhiteSpace(serverFilter))
      {
          isLoading = true;
          StateHasChanged();
          suggestions = await ServerSuggestionRepository.GetServerNameSuggestionsAsync(serverFilter);
          showSuggestions = suggestions.Any();
          isLoading = false;
      }
      else
      {
          showSuggestions = false;
          isLoading = false;
      }
      StateHasChanged();
  }

  private void SelectSuggestion(string value)
  {
      serverFilter = value;
      showSuggestions = false;
      _ = HandleSearch();
  }

  private async Task HandleSearch()
  {
    showSuggestions = false;
    isLoading = true;
    StateHasChanged();
    await SearchServerCallback.InvokeAsync(serverFilter);
    isLoading = false;
    StateHasChanged();
  }

  private async Task OnKeyDown(KeyboardEventArgs e)
  {
    if (e.Key == "Enter")
    {
      await HandleSearch();
    }
  }
}